
.list-table{
    overflow-x: auto;
}
table{
    table-layout: fixed;
    width: 100%;
    min-width: 600px; 
    border-collapse: collapse;
}

th {
    background-color: #000000;
    color: white;
    font-size: 16px;
    font-weight: normal;
}

tr{
    font-size: 14px;
    animation: fadeIn 0.6s ease-in-out forwards; 

}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    transition: 0.8 is ease-in-out;
}

tr:hover {
    background-color: var(--yellow-color);
}

.blocked{
    background-color: var(--orange-color);
}

.action-btn {
    background: #000000;
    color: white; 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: background-color 0.5s ease, box-shadow 0.3s ease; 
    outline: none; 
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}


.page-btn {
    padding: 0 12px;
    margin: 0 5px;
    background-color: #f1f1f1;
    border: none;
    border: solid #ccc 1px;
    font-size: 11px;
    cursor: pointer;
}

.page-btn.active {
    background-color: #000000;
    color: white;
}


@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px); 
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

