.event-features{
    width: 40%;
    background-color: #d3dad7;
    /* height: 90vh; */
}
.hosting-feature-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #d3dad7;
    padding: 0 100px;
}

.hosting-feature-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.event-features img{
    width: 90px;
    margin: 30px;
}
.feature-icon {
    font-size: 30px;
    color: var(--green-color);
    margin-right: 15px;
}

.feature-text h3 {
    margin: 0;
    font-size: 18px;
}

.feature-text p {
    font-size: 12px;
    color: #666;
    margin: 0;
}

@media(min-width:1024px){
    .event-features{
        height: 90vh;
        /* margin-top: 0; */
    }
    .hosting-feature-list{
        height: 90%;
    }
}
  
@media (max-width: 1024px) {
    .event-features{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hosting-feature-list{
        width: 100%;
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px; 
        padding: 20px 20px; 
    }
}

@media (max-width: 768px) {
    .hosting-feature-list{
        width: 100%;
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px; 
        padding: 20px 20px; 
    }
    .event-features img{
        margin: 20px;
    }
}

@media (max-width: 480px) {
    .hosting-feature-list{
        width: 100%;
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px; 
        padding: 20px 20px; 
    }

    .feature-icon {
        font-size: 30px;
        margin-right: 15px;
      }
      
      .feature-text h3 {
        font-size: 15px;
      }
      
      .feature-text p {
        font-size: 10px;
      }
      .event-features img{
        margin: 15px;
    }
}
  