
.form-head {
    margin-bottom: 20px;
}
.registration-form h2 {
    color: var(--text-color);
}

.registration-form p {
    font-size: 14px;
}


.form-input input {
    padding: 10px;
    width: 400px;
    /* margin-bottom: 10px; */
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.otp-input input {
    padding: 10px;
    width: 50px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.otp-input input:last-child {
    margin-right: 0; 
}

.continue-btn {
    background-color: var(--green-color);
    color: white;
    width: 400px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 0.5s ease

}

.continue-btn:hover {
    background-color: var(--darkgreen-color);
}

.verity-btn {
    background-color: var(--green-color);
    color: white;
    width: 240px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.5s ease

}

.verity-btn:hover {
    background-color: var(--darkgreen-color);
}

.or-divider {
    margin: 20px 0;
    color: #666;
}

.social-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-button {
    padding: 10px 20px;
    width: 190px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color 0.5s ease
}
.google-btn:hover {
    background-color: #2ba24c;
    color: white;
}

.facebook-btn:hover {
    background-color: #1e2d73;
    color: white;
}

.countdown{
    margin-top: 10px;
}


.resend-link {
    color: var(--green-color);
    cursor: pointer;
    text-decoration: underline;
  }
  
  .resend-link:hover {
    color: var(--darkgreen-color);
  }



@media (max-width: 480px) {

    .registration-form p {
        font-size: 12px;
    }

    .form-head {
        margin-bottom: 18px;
    }

    .form-input input {
        padding: 10px;
        width: 300px;
    }

    .continue-btn {
        width: 300px;
    }

    .or-divider p{
        font-size: 12px;
    }

    .social-button {
        padding: 10px 20px;
        width: 145px;
        border: 1px solid #ccc;
        cursor: pointer;
        border-radius: 5px;
        background-color: transparent;
        transition: background-color 0.5s ease
    }
}
  