
.home-titleCards{
    margin-top: 10px;
    margin-bottom: 10px;
}

.home-titleCards h2{
    margin-bottom: 8px;
    color: #ffffff;
}

.card-list{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    overlay: #000000;
}

.card-list::-webkit-scrollbar{
    display: none;
}
.home-card-overlay {
    max-height: 135px;
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-color: rgba(240, 240, 240, 0.5); 
    border-radius: 4px;
    color: #000000; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    opacity: 0; 
    transition: opacity 0.3s; 
}

.card-list .card:hover .home-card-overlay {
    opacity: 1; /* Show home-card-overlay on hover */
}
.card-list img{
    width: 240px;
    height: 135px;
    border-radius: 4px;
    cursor: pointer;
}

.card-list .card{
    position: relative;
}


@media (max-width:800px) {
    .home-titleCards{
        margin-top: 20px;
        margin-bottom: 0;
    }

    .home-titleCards h2{
        font-size: 20px;
    }

    .card-list img{
        width: 200px;
    }

    .card-list p{
        font-size: 12px;
    }
}


@media (max-width:500px) {
   
    .home-titleCards h2{
        font-size: 15px;
    }

    .card-list img{
        width: 165px;
    }

    .card-list p{
        font-size: 10px;
    }
}