.events-page{
    background: linear-gradient(135deg,  #0e1822, rgb(0, 0, 0));
    min-height: 100vh;
    color: #ffffff;
}

.event-hero{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 250px; 
    height: 80vh;
    width: 100%;
}

.event-hero-head{
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 8%;
    width: 100%;
}

.event-hero-head h1{
    /* max-width:580px; */
    font-size: 38px;
    line-height: 1.1;
}


.scrollbar-hide::-webkit-scrollbar {
    display: none; 
}
.scrollbar-hide {
    -ms-overflow-style: none; 
    scrollbar-width: none;
}
  
@media(max-width:1240px){
    .event-hero-head{
        align-items: center;
    }
    .event-hero-head h1{
        text-align: center;
        line-height: 1.3;
    }
}
@media(max-width:480px){
    .event-hero-head{
        padding: 20px 4%;
    }
    .event-hero-head h1{
        font-size: 22px;
        text-align: center;
        line-height: 1.3;
    }
}
